# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

!.env.example

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Packaging
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/
.pytest_cache/

# ==========================
# mypy
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# Uploads
# ==========================
app/uploads/*
!app/uploads/.gitkeep

# ==========================
# Database
# ==========================
*.db
*.sqlite3

# ==========================
# Alembic Cache
# ==========================
.alembic/